<div class="row primer-bloque">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 150px">
      <h2>¿Cuáles son los desafíos de los adolescentes en la era digital?</h2>
    </div>
    <div class="row">
      <p>
        Son muchos los desafíos que un adolescente puede enfrentarse, entre
        ellos están el robo de identidad, el ciberbullying, problemas de salud
        por sedentarismo, entre otros.
      </p>
    </div>
    <div class="row boton">
      <button class="btn btn-primary" style="border-radius: 20px; color: #000">
        Contactanos
      </button>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/jovenes/jovenes1.webp"
      alt="Image"
      width="750"
    ></p-image>
  </div>
</div>

<div class="row tercer-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p class="centrar-parrafo">
      Los adolescentes reconocen haber buscado en internet
    </p>
  </div>

  <div class="col s12 m12" style="margin-top: 50px">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Deja de estudiar por jugar videojuegos</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Explotación sexual y trata de personas</div>
    </div>
    <div class="row caja" style="background-color: #0e85df">
      <div class="col">Riesgo en su privacidad digital</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Exposición a contenidos violentos y sexuales</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Ciberacoso y/o Ciberbullying</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Poca interacción social con los demás</div>
    </div>
  </div>
</div>

<div class="row segundo-bloque">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 150px">
      <h2>¿Cuáles son los desafíos de los adolescentes en la era digital?</h2>
    </div>
    <div class="row">
      <p>
        Son muchos los desafíos que un adolescente puede enfrentarse, entre
        ellos están el robo de identidad, el ciberbullying, problemas de salud
        por sedentarismo, entre otros.
      </p>
    </div>
    <div class="row boton">
      <button class="btn btn-primary" style="border-radius: 20px; color: #000">
        Contactanos
      </button>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/jovenes/jovenes1.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>



<div class="row cuarto-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p class="centrar-parrafo" style="color: #000">
      Si un adolescente se alfabetiza digitalmente recibe estos beneficios
    </p>
  </div>

  <div class="col s12 m12">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Es consciente de los riesgos y desafíos digitales</div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Es consciente de los riesgos y desafíos digitales</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Implementa herramientas de comunicación física y digital
      </div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Conduce y cuida su presencia digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Previene los peligros asociados a las nuevas tecnologías
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Desarrolla habilidades de resiliencia digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">
        Explora sus habilidades en pensamiento crítico y analítico
      </div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla habilidades de adaptación digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla su creatividad digital</div>
    </div>
  </div>
</div>

<div class="row quinto-bloque ">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 40%">
      <p>
        Y existen muchos mas beneficios.. Ayuda a construir el futuro de tu hijo en la era digital. ¡No esperes más!
      </p>
    </div>
    <div class="row boton">
      <button class="btn btn-primary" style="border-radius: 20px; color: #fff">
        Quiero empezar
      </button>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/jovenes/joven3.webp"
      alt="Image"
      width="750"
    ></p-image>
  </div>
</div>

