<div class="row">
    <div class="col s12 m3">
      <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="col s12 m9">
      <form [formGroup]="formRol" (ngSubmit)="actualizar()">
        <div class="form-group">
          <br />
          <span>Actualizar Rol</span>
          <br />
          <br />
          <label for="numRol">Numero de Rol</label>
          <input
            type="number"
            formControlName="numRol"
            class="form-control"
            aria-describedby="helpId"
          />
          <small id="titulo" class="text-muted"></small>
        </div>
        <br />
        <div class="form-group">
          <label for="nombreRol">Nombre de Rol</label>
          <input
            type="text"
            class="validate"
            aria-describedby="helpId"
            formControlName="nombreRol"
          />

        </div>

        <br />
        <p-button
          type="ngSubmit"
          label="Actualizar Rol"
          styleClass="p-button-raised p-button-success"
        ></p-button>
      </form>
      </div>
</div>