<div class="row">
    <div class="col s12 m3">
      <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="col s12 m4">
      <form [formGroup]="formTrabajador" (ngSubmit)="actualizar()">
        <div>
          <label for="nombre">Nombre</label>
          <input  type="text" pInputText formControlName="nombre" [(ngModel)]="dtTrabajador.nombre" />
        </div>
        <div>
          <label for="apellidos">Apellidos</label>
          <input  type="text" pInputText formControlName="apellidos" [(ngModel)]="dtTrabajador.apellidos" />
        </div>
        <div>
          <label for="email">Email</label>
          <input  type="email" pInputText formControlName="email"  [(ngModel)]="dtTrabajador.email"/>
        </div>
        <div>
          <label for="edad">Edad</label>
          <input type="number" pInputText formControlName="edad" [(ngModel)]="dtTrabajador.edad" />
        </div>
        <div>
          <label for="genero">Genero</label>
          <p-listbox
            [options]="genero"
            formControlName="genero"
            optionValue="value"
            optionLabel="name"
            [style]="{ width: '15rem' }"
            
          ></p-listbox>
        </div>
        <br>
        <div>
          <label for="dni">DNI</label>
          <input type="number" pInputText formControlName="dni" [(ngModel)]="dtTrabajador.dni" />
        </div>
        <div>
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date"  formControlName="fechaNacimiento" [(ngModel)]="dtTrabajador.fechaNacimiento " >
        </div>
        <div>
          <label for="profesion">Profesion</label>
          <input type="text" pInputText formControlName="profesion" [(ngModel)]="dtTrabajador.profesion" />
        </div>
        <br>
        <div>
        </div>
        <div class="row">
          <p-button type="ngSubmit" label="Actualizar Perfil de Trabajador" class="button-spacing"></p-button>
          <p-button type="p-button" routerLink="/dashboardAdmin/trabajador-all" label="Volver atras"></p-button>

        </div>
        <div>
        </div>
        <br />
      </form>
    </div>
  </div>
  