<div class="container">
  <form [formGroup]="formRegister" (ngSubmit)="register()">
    <div class="row">
      <div>
        <h2>Registrarse</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" formControlName="username" class="validate" />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" formControlName="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" formControlName="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password2" type="password" formControlName="password2" class="validate" />
        <label for="password2">Confirmar password</label>
      </div>
    </div>

    <div class="row" *ngIf="mostrar">
      <div class="input-field col s8">
        <span>Rol</span>
        <br>
        <p-dropdown formControlName="rol" id="rol" [options]="roles" optionLabel="name"></p-dropdown>
      </div>
    </div>


    <div class="input-field col s12">
      <a routerLink="/auth/login">Or LogIn</a>
    </div>

    <div class="input-field col s12">
      <button class="waves-effect btn btn-success">Registrarse</button>
    </div>
  </form>
</div>
