<div class="row">
  <div class="col s12 m3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col s12 m9">

    <div class="container mt-5">
      <h1>Información de la Versión</h1>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Nombre del Software</h5>
          <p class="card-text">Dicta Colombia</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Versión</h5>
          <p class="card-text">1.1.4</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Fecha de Lanzamiento</h5>
          <p class="card-text">17/07/2023.</p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Descripción</h5>
          <p class="card-text">Descripcion agregada en breve........</p>
        </div>
      </div>
    </div>
  
  </div>
</div>