@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,500;1,500&display=swap");

div {
  text-align: left;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 30px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 1.3;
    }
    @media (max-width: 480px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  p {
    font-size: 20px;
    margin: 30px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 1.3;
    }
    @media (max-width: 480px) {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.boton {
  display: flex;
}

//eliminar margen
.eliminar-margen-top {
  margin-top: -20px;
}
//Para el primer bloque
.primer-bloque {
  background-image: linear-gradient(to bottom, $rojo, $whiteDefauyt);
  h2{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-left: 70px;
  }
  p{
    font-family: "Montserrat", sans-serif;
    margin-left: 70px;
  }

}

