<div class="row primer-bloque">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 150px">
      <h2>
        Aprende a protegerte y proteger a los tuyos de los riesgos cibernéticos
      </h2>
    </div>
    <div class="row">
      <p>
        Conoce las herramientas sociodigitales y previene que tu hijo contraiga
        riesgos en la salud física, salud mental, salud social y múltiples
        peligros digitales.
      </p>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/academia/academia1.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>
