.separator {
  margin-right: 40px;
  font-size: 20px;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

// a:hover{
//     color: #fff;
// }

.logo {
  margin-left: 20px;
  text-decoration: none;
}

.navi{
  background-color: rgba(255, 255, 255, 0.293);

}
