<p-menubar [model]="items" styleClass="navbar-container">
  <ng-template pTemplate="start">
      <img src="assets/logo.webp" routerLink="/" style="cursor: pointer;" height="60" class="mr-2" />
  </ng-template>

  <ng-template *ngIf="!boolName" pTemplate="end">
    <p-button label="Iniciar Sesion" routerLink="/auth/login"  styleClass="p-button-lg p-button-warning" ></p-button>
  </ng-template>

  <ng-template *ngIf="boolName" pTemplate="end">
    <p-button [label]="valor.username" ></p-button>
  </ng-template>
  
</p-menubar>


