<div class="container">
  <main>
    <section class="hero">
      <h1>¡Próximo Proyecto Emocionante!</h1>
      <p>
        Estamos entusiasmados de anunciar que nuestra empresa estará
        desarrollando un modelo 3D del universo.
      </p>
      <p>
        Sumérgete en un viaje fascinante a través de los rincones más profundos
        del cosmos.
      </p>
    </section>

    <section class="descripcion-proyecto">
      <h2>Descripción del Proyecto</h2>
      <p>
        Nuestro equipo de expertos en desarrollo 3D se encuentra trabajando
        arduamente para traerte una experiencia única e inmersiva. El modelo 3D
        del universo te permitirá explorar galaxias, planetas, nebulosas y mucho
        más, todo ello con un nivel de detalle sorprendente.
      </p>
      <p>
        Utilizaremos tecnologías de vanguardia y datos científicos precisos para
        garantizar la precisión y autenticidad de cada elemento del modelo.
      </p>
      <p>
        Prepárate para un viaje que te llevará más allá de lo conocido y te
        permitirá contemplar la vastedad y belleza del universo en todo su
        esplendor.
      </p>
    </section>

    <section class="fecha-lanzamiento">
      <h2>Fecha de Lanzamiento</h2>
      <p>
        El lanzamiento oficial del modelo 3D del universo está previsto para el
        próximo año. Estamos trabajando arduamente para brindarte una
        experiencia excepcional, por lo que tu paciencia será recompensada con
        un producto de alta calidad y una aventura inolvidable en el cosmos.
      </p>
    </section>

    <section class="registro-interesados">
      <h2>Regístrate para Recibir Noticias</h2>
      <p>
        No querrás perderte ninguna actualización sobre nuestro emocionante
        proyecto. Regístrate para recibir noticias y novedades sobre el
        lanzamiento del modelo 3D del universo.
      </p>
      <!-- Agrega aquí el formulario de registro o un enlace para que los interesados se registren -->
    </section>
  </main>
</div>
