<div class="row">
    <div class="col s12 m3">
      <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="col s12 m9">

      <div class="container mt-5">
        <h1>Información de la Versión</h1>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Nombre del Software</h5>
            <p class="card-text">Nombre de la Aplicación o Software.</p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Versión</h5>
            <p class="card-text">1.0.0</p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Fecha de Lanzamiento</h5>
            <p class="card-text">Fecha de lanzamiento de esta versión.</p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">Descripción detallada de las novedades y cambios incluidos en esta versión.</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>