<div class="row cuarto-bloque card-bloque">
  <div class="col s12 m6 estilo-card">
    <p-card header="header" [style]="{ width: '460px' }">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>fgh</p>
    </p-card>
  </div>
  <div class="col s12 m6 estilo-card">
    <p-card header="header" [style]="{ width: '460px' }">
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>fgh</p>
    </p-card>
  </div>
</div>


<div class="row primer-bloque" style="margin-top: -50px;">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 150px">
      <h2>Aprende y enseña habilidades sociodigitales con crianza digital</h2>
    </div>
    <div class="row">
      <p>
        La clave de las habilidades a desarrollar en niños es todo aquello que
        no sea automatizable, pues tendrá un valor incalculable en el futuro.
        (Marc Vidal)
      </p>
      <p>(Marc Vidal)</p>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/academia/servicios/servicios1.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>

<div class="row primer-bloque eliminar-margen-top" style="background-image: linear-gradient(to bottom, #fff, #fff);">
  <div class="col s12 m6" style="margin-top: 10%">
    <div class="row" style="margin-top: 150px">
      <h2>
        ¿Estas educando a tu hijo para que enfrente los desafíos de la era
        digital?
      </h2>
    </div>
    <div class="row">
      <p>
        Agenda una consulta personalizada de 90 minutos. Protege, arbitra y
        gestiona efectivamente tu crianza digital con los entornos digitales.
      </p>
      <p>(Marc Vidal)</p>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
    src="assets/dashboard/academia/servicios/servicios2.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>

<div class="row primer-bloque eliminar-margen-top" style="background-image: linear-gradient(to bottom, #fff, #fff);">
  <div class="col s12 m6" style="margin-top: 10%">
    <div class="row" style="margin-top: 150px">
      <h2>¡No dejes que tu hijo se convierta en huérfano digital!</h2>
    </div>
    <div class="row">
      <p>
        Conoce y previene los múltiples riesgos cibernéticos que diariamente se
        expone.
      </p>
      <p>(Marc Vidal)</p>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
    src="assets/dashboard/academia/servicios/servicios3.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>


<br>
<br>
<div class="container">
  <p>"El hombre inteligente aprende de sus errores. El hombre sabio aprende de los errores de los demás". — Arturo Adasme</p>
</div>
<br>
<br>

<div class="row tercer-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p>Aprende pautas de crianza digital con programas personalizados</p>
  </div>
  <div class="col s12 m6" style="margin-top: 50px">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Con dos componentes, las ciencias del comportamiento y las de la computación
      </div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Aprende los desafíos y retos de los entornos digitales
      </div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Conoce herramientas sociodigitales para aplicar en tu crianza digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Prepárate y ayuda a que tu hijo se autoproteja de riesgos cibernéticos
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <p-image
    src="assets/dashboard/academia/servicios/servicios4.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>

<div class="row cuarto-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p class="centrar-parrafo" style="color: #000">
      Si un niño se alfabetiza digitalmente, recibe los siguientes beneficios:
    </p>
  </div>

  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Es consciente de los riesgos y desafíos digitales</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Implementa herramientas de comunicación física y digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Conduce y cuida su presencia digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Previene los peligros asociados a las nuevas tecnologías</div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Desarrolla habilidades de resiliencia digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Explora sus habilidades en pensamiento crítico y analítico</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla habilidades de adaptación digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla su creatividad digital</div>
    </div>
  </div>
</div>




<div class="row tercer-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p>Después de terminar el programa crianza digital serás capaz de:</p>
  </div>
  <div class="col s12 m6" style="margin-top: 50px">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Con dos componentes, las ciencias del comportamiento y las de la computación
      </div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">
        Aprende los desafíos y retos de los entornos digitales
      </div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Conoce herramientas sociodigitales para aplicar en tu crianza digital</div>
    </div>
  </div>

  <div class="col s12 m6">
    <p-image
    src="assets/dashboard/academia/servicios/servicios5.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>