<div class="row fondo">
  <div class="text col s12 m6 centrado">
    <h1>ALFABETIZACIÓN DIGITAL</h1>
    <h3>
      Descubre como enseñar a tu hijo a protegerse de los riesgos ciberneticos
    </h3>
    <br />
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Contactanos
    </button>
  </div>

  <div class="col s12 m6">
    <img
      class="responsive-img"
      width="650"
      src="assets/dashboard/portada.webp"
    />
  </div>
</div>
<div class="centrado video" style="display: flex">
  <iframe
    class="contenido-video"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>

<br />

<div class="row centrado">
  <div class="col s12">
    <p>Qué te ofrecemos</p>
  </div>
  <div class="col s4 telefono">
    <img class="responsive-img" width="650" src="assets/dashboard/cripto.png" />
  </div>
  <div class="col s4 telefono">
    <img
      class="responsive-img sombra-imagen"
      width="650"
      src="assets/dashboard/cripto.png"
    />
  </div>
  <div class="col s4 telefono">
    <img class="responsive-img" width="650" src="assets/dashboard/cripto.png" />
  </div>
</div>

<div class="row fondo">
  <div class="text col s12 m6 centrado">
    <h1>ALFABETIZACIÓN DIGITAL</h1>
    <h3>
      Descubre como enseñar a tu hijo a protegerse de los riesgos ciberneticos
    </h3>
    <br />
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Contactanos
    </button>
  </div>

  <div class="col s12 m6">
    <img
      class="responsive-img"
      width="650"
      src="assets/dashboard/portada.webp"
    />
  </div>
</div>
