<div class="row primer-bloque">
  <div class="col s12 m6">
    <div class="row" style="margin-top: 150px">
      <h2>¿Cuál es la importancia de la alfabetización digital en niños?</h2>
    </div>
    <div class="row">
      <p>
        Desarrollar habilidades que ayuden a protegerse, crear y analizar el
        medio digital en el que se encuentran.
      </p>
      <p>(Marc Vidal)</p>
    </div>
    <div class="row boton">
      <button class="btn btn-primary" style="border-radius: 20px; color: #000">
        Contactanos
      </button>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/ninos/nino-portada.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>

<div class="row segundo-bloque eliminar-margen-top">
  <div class="col s12 m6" style="margin-top: 10%">
    <div class="row">
      <p>
        "Cuando los niños realizan un mal uso de las nuevas tecnologías, se
        exponen a contraer riesgos en su salud física, salud mental, salud
        social y múltiples peligros digitales".
      </p>
    </div>
    <div class="row boton">
      <button class="btn btn-primary" style="border-radius: 20px; color: #000">
        Contactanos
      </button>
    </div>
  </div>
  <div class="col s12 m6 imagenes-centrado">
    <p-image
      src="assets/dashboard/ninos/nino-lema.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
</div>

<div class="row tercer-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p class="centrar-parrafo">
      Riesgos en niños por el mal uso de la tecnología:
    </p>
  </div>

  <div class="col s12 m6 espejo">
    <p-image
      src="assets/dashboard/ninos/nino-peligros.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>

  <div class="col s12 m6" style="margin-top: 50px">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Deja de estudiar por jugar videojuegos</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Explotación sexual y trata de personas</div>
    </div>
    <div class="row caja" style="background-color: #0e85df">
      <div class="col">Riesgo en su privacidad digital</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Exposición a contenidos violentos y sexuales</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Ciberacoso y/o Ciberbullying</div>
    </div>
    <div class="row caja" style="background-color: #1fa848">
      <div class="col">Poca interacción social con los demás</div>
    </div>
  </div>
</div>


<div class="row cuarto-bloque">
  <div class="col s12 m12">
    <br />
    <br />
    <p class="centrar-parrafo" style="color: #000">
      Si un niño se alfabetiza digitalmente, recibe los siguientes beneficios:
    </p>
  </div>

  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Es consciente de los riesgos y desafíos digitales</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Implementa herramientas de comunicación física y digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Conduce y cuida su presencia digital</div>
    </div>
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Previene los peligros asociados a las nuevas tecnologías</div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="row caja" style="background-color: #ffb300">
      <div class="col">Desarrolla habilidades de resiliencia digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Explora sus habilidades en pensamiento crítico y analítico</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla habilidades de adaptación digital</div>
    </div>
    <div class="row caja" style="background-color: #df0e0e">
      <div class="col">Desarrolla su creatividad digital</div>
    </div>
  </div>
</div>

<div class="row quinto-bloque ">
  <div class="col s12 m12 imagenes-centrado">
    <p-image
      src="assets/dashboard/ninos/nino-fin.webp"
      alt="Image"
      width="650"
    ></p-image>
  </div>
  <div class="col s12 m12 imagenes-centrado">
    <p>"Prepara al niño para el camino, no el camino para el niño"</p>
  </div>
  <div class="col s12 m12 imagenes-centrado">
    <button class="btn btn-primary" style="border-radius: 20px; color: #fff">
      Contactanos
    </button>
  </div>
</div>
